<nav aria-label="Pagination" class="border-top pb-md-4 pt-4">
    <ul class="pagination">
        <li class="page-item page-item d-none d-sm-block <%= hotels.hasPrevPage ? '' : 'disabled' %>">
            <a class="page-link" href="/hotels?page=1">First Page</a>
        </li>

        <li class="page-item page-item d-none d-sm-block <%= hotels.hasPrevPage ? '' : 'disabled' %>">
            <a class="page-link" href="/hotels?page=<%= hotels.prevPage %>"><i class="fi-chevron-left"></i></a>
        </li>

        <li class="page-item page-item d-none d-sm-block active">
            <a class="page-link" href="/hotels?page=<%= hotels.page %>">
                <%= hotels.page %>
            </a>
        </li>

        <% for( let i=hotels.page+1 ; i < Math.min(hotels.totalPages,hotels.page+5); i++ ) { %>
            <li class="page-item page-item d-none d-sm-block">
                <a class="page-link" href="/hotels?page=<%= i %>">
                    <%= i %>
                </a>
            </li>
            <% } %>

        <li class="page-item d-none d-sm-block <%= hotels.hasNextPage ? '' : 'disabled' %>">
            <a class="page-link" href="/hotels?page=<%= hotels.nextPage %>"><i class="fi-chevron-right"></i></a>
        </li>

        <li class="page-item page-item d-none d-sm-block <%= hotels.hasNextPage ? '' : 'disabled' %>">
            <a class="page-link" href="/hotels?page=<%= hotels.totalPages %>">Last Page</a>
        </li>
    </ul>
</nav>