<%- include('../partials/header.ejs') %>

    <%- include('../partials/paginate.ejs') %>

        <div class="row">
            <div class="col-4">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">@</span>
                    <input type="text" class="form-control" placeholder="Hotel Search" aria-label="Username"
                        aria-describedby="basic-addon1" id="searchInput" onkeyup="searchHotel()">
                </div>
            </div>
        </div>

        <h1>List of all hotels</h1>

        <% for( let hotel of hotels.docs ) { %>
            <div class="hotel-card">
                <div class="hotel-name">
                    <%= hotel.name %>
                </div>
                <a href="/hotels/<%= hotel._id %>" class="btn btn-primary">Read More</a>
            </div>
            <% } %>

                <script src="/scripts/app.js"></script>
                <%- include('../partials/footer.ejs') %>