<%- include('../partials/header.ejs') %>


        <!-- Page content-->
        <!-- Page container-->
        <div class="container-fluid mt-5 pt-5 p-0" style="padding-top: 5rem !important;">
            <div class="row g-0 mt-n3">
                <!-- Filters sidebar (Offcanvas on mobile)-->
                <aside class="col-lg-4 col-xl-3 border-top-lg border-end-lg shadow-sm px-3 px-xl-4 px-xxl-5 pt-lg-2">
                    <div class="offcanvas-lg offcanvas-start" id="filters-sidebar">
                        <div class="offcanvas-header d-flex d-lg-none align-items-center">
                            <h2 class="h5 mb-0">Filters</h2>
                            <button class="btn-close" type="button" data-bs-dismiss="offcanvas"
                                data-bs-target="#filters-sidebar"></button>
                        </div>
                        <!-- Search form-->
                        <div class="offcanvas-header d-block border-bottom pt-0 pt-lg-4 px-lg-0">
                            <form class="form-group mb-lg-2 rounded-pill">
                                <div class="input-group"><span class="input-group-text text-muted"><i
                                            class="fi-search"></i></span>
                                    <!-- <input class="form-control" type="text" placeholder="Search..."> -->
                                    <input type="text" class="form-control" placeholder="Search..." aria-label="search"
                                        aria-describedby="basic-addon1" id="searchInput">
                                </div>
                                <button class="btn btn-primary rounded-pill d-lg-inline-block d-none"
                                    type="button" onclick="searchHotel()">Search</button>
                                <button
                                    class="btn btn-icon btn-primary rounded-circle flex-shrink-0 d-lg-none d-inline-flex"
                                    type="button"><i class="fi-search mt-n2"></i></button>
                            </form>
                        </div>
                        <!-- Nav tabs-->
                        <div class="offcanvas-header d-block border-bottom py-lg-4 py-3 px-lg-0">
                            <ul class="nav nav-pills" role="tablist">
                                <li class="nav-item"><a class="nav-link d-flex align-items-center active"
                                        href="#categories" data-bs-toggle="tab" role="tab"><i
                                            class="fi-list me-2"></i>Categories</a></li>
                                <li class="nav-item"><a class="nav-link d-flex align-items-center" href="#filters"
                                        data-bs-toggle="tab" role="tab"><i
                                            class="fi-filter-alt-horizontal me-2"></i>Filters</a></li>
                            </ul>
                        </div>
                        <div class="offcanvas-body py-lg-4">
                            <!-- Tabs content-->
                            <div class="tab-content">
                                <!-- Categories-->
                                <div class="tab-pane fade show active" id="categories" role="tabpanel">
                                    <div class="row row-cols-lg-2 row-cols-1 g-3">
                                        <div class="col"><a
                                                class="icon-box card card-body h-100 border-0 shadow-sm card-hover text-center"
                                                href="#">
                                                <div
                                                    class="icon-box-media bg-faded-accent text-accent rounded-circle mb-3 mx-auto">
                                                    <i class="fi-bed"></i></div>
                                                <h3 class="icon-box-title fs-base mb-0">Accommodation</h3>
                                            </a></div>
                                        <div class="col"><a
                                                class="icon-box card card-body h-100 border-0 shadow-sm card-hover text-center"
                                                href="#">
                                                <div
                                                    class="icon-box-media bg-faded-primary text-primary rounded-circle mb-3 mx-auto">
                                                    <i class="fi-dumbell"></i></div>
                                                <h3 class="icon-box-title fs-base mb-0">Fitness &amp; Sport</h3>
                                            </a></div>
                                        <div class="col"><a
                                                class="icon-box card card-body h-100 border-0 shadow-sm card-hover text-center"
                                                href="#">
                                                <div
                                                    class="icon-box-media bg-faded-warning text-warning rounded-circle mb-3 mx-auto">
                                                    <i class="fi-cafe"></i></div>
                                                <h3 class="icon-box-title fs-base mb-0">Food &amp; Drink</h3>
                                            </a></div>
                                        <div class="col"><a
                                                class="icon-box card card-body h-100 border-0 shadow-sm card-hover text-center"
                                                href="#">
                                                <div
                                                    class="icon-box-media bg-faded-success text-success rounded-circle mb-3 mx-auto">
                                                    <i class="fi-disco-ball"></i></div>
                                                <h3 class="icon-box-title fs-base mb-0">Night Life</h3>
                                            </a></div>
                                        <div class="col"><a
                                                class="icon-box card card-body h-100 border-0 shadow-sm card-hover text-center"
                                                href="#">
                                                <div
                                                    class="icon-box-media bg-faded-primary text-primary rounded-circle mb-3 mx-auto">
                                                    <i class="fi-shopping-bag"></i></div>
                                                <h3 class="icon-box-title fs-base mb-0">Shopping</h3>
                                            </a></div>
                                        <div class="col"><a
                                                class="icon-box card card-body h-100 border-0 shadow-sm card-hover text-center"
                                                href="#">
                                                <div
                                                    class="icon-box-media bg-faded-info text-info rounded-circle mb-3 mx-auto">
                                                    <i class="fi-meds"></i></div>
                                                <h3 class="icon-box-title fs-base mb-0">Medicine</h3>
                                            </a></div>
                                        <div class="col"><a
                                                class="icon-box card card-body h-100 border-0 shadow-sm card-hover text-center"
                                                href="#">
                                                <div
                                                    class="icon-box-media bg-faded-success text-success rounded-circle mb-3 mx-auto">
                                                    <i class="fi-museum"></i></div>
                                                <h3 class="icon-box-title fs-base mb-0">Art &amp; History</h3>
                                            </a></div>
                                        <div class="col"><a
                                                class="icon-box card card-body h-100 border-0 shadow-sm card-hover text-center"
                                                href="#">
                                                <div
                                                    class="icon-box-media bg-faded-warning text-warning rounded-circle mb-3 mx-auto">
                                                    <i class="fi-makeup"></i></div>
                                                <h3 class="icon-box-title fs-base mb-0">Beauty</h3>
                                            </a></div>
                                        <div class="col"><a
                                                class="icon-box card card-body h-100 border-0 shadow-sm card-hover text-center"
                                                href="#">
                                                <div
                                                    class="icon-box-media bg-faded-primary text-primary rounded-circle mb-3 mx-auto">
                                                    <i class="fi-entertainment"></i></div>
                                                <h3 class="icon-box-title fs-base mb-0">Entertainment</h3>
                                            </a></div>
                                        <div class="col"><a
                                                class="icon-box card card-body h-100 border-0 shadow-sm card-hover text-center"
                                                href="#">
                                                <div
                                                    class="icon-box-media bg-faded-info text-info rounded-circle mb-3 mx-auto">
                                                    <i class="fi-car"></i></div>
                                                <h3 class="icon-box-title fs-base mb-0">Auto Service</h3>
                                            </a></div>
                                    </div>
                                </div>
                                <!-- Filters-->
                                <div class="tab-pane fade" id="filters" role="tabpanel">
                                    <div class="pb-4 mb-2">
                                        <h3 class="h6">Location</h3>
                                        <select class="form-select mb-2">
                                            <option value="" disabled>Choose city</option>
                                            <option value="Berlin" selected>Berlin</option>
                                            <option value="Hamburg">Hamburg</option>
                                            <option value="Munich">Munich</option>
                                            <option value="Koln">Koln</option>
                                            <option value="Frankfurt am Main">Frankfurt am Main</option>
                                        </select>
                                        <select class="form-select">
                                            <option value="" selected disabled>Choose district</option>
                                            <option value="Berlin-Mitte">Berlin-Mitte</option>
                                            <option value="Charlottenburg">Charlottenburg</option>
                                            <option value="Prenzlauer Berg">Prenzlauer Berg</option>
                                            <option value="Friedrichshain">Friedrichshain</option>
                                            <option value="Kreuzberg">Kreuzberg</option>
                                        </select>
                                    </div>
                                    <div class="pb-4 mb-2">
                                        <h3 class="h6">Category</h3>
                                        <div class="dropdown mb-sm-0 mb-3" data-bs-toggle="select">
                                            <button
                                                class="btn btn-outline-secondary d-flex align-items-center w-100 px-4 fw-normal text-start dropdown-toggle"
                                                type="button" data-bs-toggle="dropdown"><i
                                                    class="fi-list me-2 text-muted"></i><span
                                                    class="dropdown-toggle-label d-block w-100">All
                                                    categories</span></button>
                                            <input type="hidden">
                                            <ul class="dropdown-menu w-100">
                                                <li><a class="dropdown-item" href="#"><i
                                                            class="fi-bed me-2 fs-lg opacity-60"></i><span
                                                            class="dropdown-item-label">Accomodation</span></a></li>
                                                <li><a class="dropdown-item" href="#"><i
                                                            class="fi-cafe me-2 fs-lg opacity-60"></i><span
                                                            class="dropdown-item-label">Food &amp; Drink</span></a></li>
                                                <li><a class="dropdown-item" href="#"><i
                                                            class="fi-shopping-bag me-2 fs-lg opacity-60"></i><span
                                                            class="dropdown-item-label">Shopping</span></a></li>
                                                <li><a class="dropdown-item" href="#"><i
                                                            class="fi-museum me-2 fs-lg opacity-60"></i><span
                                                            class="dropdown-item-label">Art &amp; History</span></a>
                                                </li>
                                                <li><a class="dropdown-item" href="#"><i
                                                            class="fi-entertainment me-2 fs-lg opacity-60"></i><span
                                                            class="dropdown-item-label">Entertainment</span></a></li>
                                                <li><a class="dropdown-item" href="#"><i
                                                            class="fi-meds me-2 fs-lg opacity-60"></i><span
                                                            class="dropdown-item-label">Medicine</span></a></li>
                                                <li><a class="dropdown-item" href="#"><i
                                                            class="fi-makeup me-2 fs-lg opacity-60"></i><span
                                                            class="dropdown-item-label">Beauty</span></a></li>
                                                <li><a class="dropdown-item" href="#"><i
                                                            class="fi-car me-2 fs-lg opacity-60"></i><span
                                                            class="dropdown-item-label">Auto Service</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="pb-4 mb-2">
                                        <h3 class="h6">Subcategory</h3>
                                        <div class="overflow-auto" data-simplebar data-simplebar-auto-hide="false"
                                            style="height: 11rem;">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="hotel">
                                                <label class="form-check-label fs-sm" for="hotel">Hotel</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="hostel">
                                                <label class="form-check-label fs-sm" for="hostel">Hostel</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="motel">
                                                <label class="form-check-label fs-sm" for="motel">Motel</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="apartment" checked>
                                                <label class="form-check-label fs-sm" for="apartment">Apartment</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="cottage">
                                                <label class="form-check-label fs-sm" for="cottage">Cottage</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="boutique-hotel">
                                                <label class="form-check-label fs-sm" for="boutique-hotel">Boutique
                                                    Hotel</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="room">
                                                <label class="form-check-label fs-sm" for="room">Room</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="land">
                                                <label class="form-check-label fs-sm" for="land">Land</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="commercial">
                                                <label class="form-check-label fs-sm"
                                                    for="commercial">Commercial</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="parking-lot">
                                                <label class="form-check-label fs-sm" for="parking-lot">Parking
                                                    lot</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pb-4 mb-2">
                                        <h3 class="h6">Price</h3>
                                        <div class="range-slider" data-start-min="300" data-start-max="700"
                                            data-min="50" data-max="1000" data-step="20">
                                            <div class="range-slider-ui"></div>
                                            <div class="d-flex align-items-center">
                                                <div class="w-50 pe-2">
                                                    <div class="input-group"><span
                                                            class="input-group-text fs-base">$</span>
                                                        <input class="form-control range-slider-value-min" type="text">
                                                    </div>
                                                </div>
                                                <div class="text-muted">&mdash;</div>
                                                <div class="w-50 ps-2">
                                                    <div class="input-group"><span
                                                            class="input-group-text fs-base">$</span>
                                                        <input class="form-control range-slider-value-max" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pb-4 mb-2">
                                        <h3 class="h6">Average rating</h3>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="5-star">
                                            <label class="form-check-label fs-sm align-middle mt-n2" for="5-star"><span
                                                    class="star-rating"><i
                                                        class="star-rating-icon fi-star-filled active"></i><i
                                                        class="star-rating-icon fi-star-filled active"></i><i
                                                        class="star-rating-icon fi-star-filled active"></i><i
                                                        class="star-rating-icon fi-star-filled active"></i><i
                                                        class="star-rating-icon fi-star-filled active"></i></span>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="4-star">
                                            <label class="form-check-label fs-sm align-middle mt-n2" for="4-star"><span
                                                    class="star-rating"><i
                                                        class="star-rating-icon fi-star-filled active"></i><i
                                                        class="star-rating-icon fi-star-filled active"></i><i
                                                        class="star-rating-icon fi-star-filled active"></i><i
                                                        class="star-rating-icon fi-star-filled active"></i><i
                                                        class="star-rating-icon fi-star"></i></span>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="3-star">
                                            <label class="form-check-label fs-sm align-middle mt-n2" for="3-star"><span
                                                    class="star-rating"><i
                                                        class="star-rating-icon fi-star-filled active"></i><i
                                                        class="star-rating-icon fi-star-filled active"></i><i
                                                        class="star-rating-icon fi-star-filled active"></i><i
                                                        class="star-rating-icon fi-star"></i><i
                                                        class="star-rating-icon fi-star"></i></span>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="2-star">
                                            <label class="form-check-label fs-sm align-middle mt-n2" for="2-star"><span
                                                    class="star-rating"><i
                                                        class="star-rating-icon fi-star-filled active"></i><i
                                                        class="star-rating-icon fi-star-filled active"></i><i
                                                        class="star-rating-icon fi-star"></i><i
                                                        class="star-rating-icon fi-star"></i><i
                                                        class="star-rating-icon fi-star"></i></span>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="1-star">
                                            <label class="form-check-label fs-sm align-middle mt-n2" for="1-star"><span
                                                    class="star-rating"><i
                                                        class="star-rating-icon fi-star-filled active"></i><i
                                                        class="star-rating-icon fi-star"></i><i
                                                        class="star-rating-icon fi-star"></i><i
                                                        class="star-rating-icon fi-star"></i><i
                                                        class="star-rating-icon fi-star"></i></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="pb-4 mb-2">
                                        <h3 class="h6">Number of rooms</h3>
                                        <select class="form-select mb-2">
                                            <option value="1-room" selected>1 room</option>
                                            <option value="2-rooms">2 rooms</option>
                                            <option value="3-rooms">3 rooms</option>
                                            <option value="4-rooms">4 rooms</option>
                                            <option value="5-rooms">5 rooms</option>
                                        </select>
                                    </div>
                                    <div class="pb-4 mb-2">
                                        <h3 class="h6">Amenities</h3>
                                        <div class="overflow-auto" data-simplebar data-simplebar-auto-hide="false"
                                            style="height: 11rem;">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="parking">
                                                <label class="form-check-label fs-sm" for="parking">Parking</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="restaurant">
                                                <label class="form-check-label fs-sm"
                                                    for="restaurant">Restaurant</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="pet-friendly">
                                                <label class="form-check-label fs-sm" for="pet-friendly">Pet
                                                    Friendly</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="room-service"
                                                    checked>
                                                <label class="form-check-label fs-sm" for="room-service">Room
                                                    Service</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="fitness-center">
                                                <label class="form-check-label fs-sm" for="fitness-center">Fitness
                                                    Center</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="free-wifi" checked>
                                                <label class="form-check-label fs-sm" for="free-wifi">Free WiFi</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="spa-lounge">
                                                <label class="form-check-label fs-sm" for="spa-lounge">Spa
                                                    lounge</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="bar">
                                                <label class="form-check-label fs-sm" for="bar">Bar</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="swimming-pool">
                                                <label class="form-check-label fs-sm" for="swimming-pool">Swimming
                                                    pool</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pb-4 mb-2">
                                        <h3 class="h6">Room facilities</h3>
                                        <div class="overflow-auto" data-simplebar data-simplebar-auto-hide="false"
                                            style="height: 11rem;">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="kitchen">
                                                <label class="form-check-label fs-sm" for="kitchen">Kitchen</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="private-bathroom">
                                                <label class="form-check-label fs-sm" for="private-bathroom">Private
                                                    Bathroom</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="air-conditioning"
                                                    checked>
                                                <label class="form-check-label fs-sm" for="air-conditioning">Air
                                                    Conditioning</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="desk">
                                                <label class="form-check-label fs-sm" for="desk">Desk</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="terrace">
                                                <label class="form-check-label fs-sm" for="terrace">Terrace</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="washing-machine">
                                                <label class="form-check-label fs-sm" for="washing-machine">Washing
                                                    Machine</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="heating">
                                                <label class="form-check-label fs-sm" for="heating">Heating</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" id="laundry-service">
                                                <label class="form-check-label fs-sm" for="laundry-service">Laundry
                                                    Service</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="border-top py-4">
                                        <button class="btn btn-outline-primary rounded-pill" type="button"><i
                                                class="fi-rotate-right me-2"></i>Reset filters</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
                <!-- Page content-->
                <div class="col-lg-8 col-xl-9 position-relative overflow-hidden pb-5 pt-4 px-3 px-xl-4 px-xxl-5">
                    <!-- Map popup-->
                    <div class="map-popup invisible" id="map">
                        <button class="btn btn-icon btn-light btn-sm shadow-sm rounded-circle" type="button"
                            data-bs-toggle-class="invisible" data-bs-target="#map"><i class="fi-x fs-xs"></i></button>
                        <div class="interactive-map" data-map-options-json="json/map-options-city-guide.json"></div>
                    </div>
                    <!-- Breadcrumb-->
                    <nav class="mb-3 pt-md-2" aria-label="Breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Find accommodation</li>
                        </ol>
                    </nav>
                    <!-- Title-->
                    <div class="d-sm-flex align-items-center justify-content-between pb-3 pb-sm-4">
                        <h1 class="h2 mb-sm-0">Find accommodation</h1><a
                            class="d-inline-block fw-bold text-decoration-none py-1" href="#"
                            data-bs-toggle-class="invisible" data-bs-target="#map"><i class="fi-map me-2"></i>Map
                            view</a>
                    </div>
                    <!-- Sorting-->
                    <div class="d-flex flex-sm-row flex-column align-items-sm-center align-items-stretch my-2">
                        <div class="d-flex align-items-center flex-shrink-0">
                            <label class="fs-sm me-2 pe-1 text-nowrap" for="sortby"><i
                                    class="fi-arrows-sort text-muted mt-n1 me-2"></i>Sort by:</label>
                            <select class="form-select form-select-sm" id="sortby">
                                <option>Newest</option>
                                <option>Popularity</option>
                                <option>Low - High Price</option>
                                <option>High - Low Price</option>
                                <option>High rating</option>
                                <option>Average Rating</option>
                            </select>
                        </div>
                        <hr class="d-none d-sm-block w-100 mx-4">
                        <div class="d-none d-sm-flex align-items-center flex-shrink-0 text-muted"><i
                                class="fi-check-circle me-2"></i><span class="fs-sm mt-n1"><%= hotels.docs.length %> results</span></div>
                    </div>
                    <!-- Catalog grid-->
                    <div class="row row-cols-xl-3 row-cols-sm-2 row-cols-1 gy-4 gx-3 gx-xxl-4 py-4">
                        <!-- Items-->
                        <% let i = 0 %>
                        <% for( let hotel of hotels.docs ) { %>
                            <div class="col pb-sm-2 hotel-card">
                                <article class="position-relative">
                                    <!-- <div class="position-relative mb-3">
                                        <button
                                            class="btn btn-icon btn-light-primary btn-xs text-primary rounded-circle position-absolute top-0 end-0 m-3 zindex-5"
                                            type="button" data-bs-toggle="tooltip" data-bs-placement="left"
                                            title="Add to Favorites"><i class="fi-heart"></i></button><img class="rounded-3"
                                            src="img/city-guide/catalog/01.jpg" alt="Article img">
                                    </div> -->
                                    <div class="position-relative mb-3">
                                        <button
                                            class="btn btn-icon btn-light-primary btn-xs text-primary rounded-circle position-absolute top-0 end-0 m-3 zindex-5"
                                            type="button" data-bs-toggle="tooltip" data-bs-placement="left"
                                            title="Add to Favorites"><i class="fi-heart"></i>
                                        </button>
                                        <% if (hotel.images.length > 0){ %>
                                            <% i = Math.floor(Math.random() * hotel.images.length )%>
                                            <img class="rounded-3" src="<%= hotel.images[i].url %>" alt="Article img" style="height: 195px;width: 428px;">
                                        <% } else { %>
                                            <img class="rounded-3" src="/Img/no-image-available-icon-6.png" alt="No image provided" style="height: 195px;width: 428px;">
                                        <% } %>
                                    </div>
                                    <h3 class="mb-2 fs-lg"><a class="nav-link stretched-link hotel-name"
                                            href="/hotels/<%= hotel._id %>"><%= hotel.name %></a></h3>
                                    <ul class="list-inline mb-0 fs-xs">
                                        <li class="list-inline-item pe-1"><i
                                                class="fi-star-filled mt-n1 me-1 fs-base text-warning align-middle"></i><b><%= hotel.overAllRating %></b><span
                                                class="text-muted">&nbsp;(<%= hotel.reviews.length %>)</span></li>
                                        <li class="list-inline-item pe-1"><i
                                                class="fi-credit-card mt-n1 me-1 fs-base text-muted align-middle"></i><%= hotel.price %>&nbsp;$$
                                        </li>
                                        <li class="list-inline-item pe-1"><i
                                                class="fi-map-pin mt-n1 me-1 fs-base text-muted align-middle"></i><%= hotel.address %></li>
                                    </ul>
                                </article>
                            </div>
                        <% } %>

                    </div>
                    <!-- Pagination-->
                    <%- include('../partials/paginate.ejs') %>

                </div>
            </div>
        </div>
    <!-- Filters sidebar toggle button (mobile)-->
    <button class="btn btn-primary btn-sm w-100 rounded-0 fixed-bottom d-lg-none" type="button"
        data-bs-toggle="offcanvas" data-bs-target="#filters-sidebar"><i class="fi-filter me-2"></i>Filters</button>
   <%- include('../partials/footer.ejs') %>