<%- include('../partials/header.ejs') %>

<div><%= hotel.name %></div>
<div><%= hotel.address %></div>
<div><%= hotel.price %></div>
<div><%= hotel.isRoomAvailable %></div>
<div>
  <a href="/users/<%= hotel.author._id %>"> <%= hotel.author.username %> </a>
</div>
<div><%= hotel.createdAt.toDateString() %></div>

<div class="row">
  <div class="col-5">
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner border border-3 rounded-2">
        <% for( let i in hotel.images) { %> <% if (i==0) { %>
        <div class="carousel-item active">
          <img
            src="<%= hotel.images[i].url %>"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <% } else {%>
        <div class="carousel-item">
          <img
            src="<%= hotel.images[i].url %>"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <% } %> <% } %>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="col-1"></div>
  <div class="col-5">
    <div id="map"></div>
  </div>
</div>

<div>
  <% if (currentUser && hotel.author._id.equals(currentUser._id)) { %>
  <a href="/hotels/<%= hotel._id %>/edit" class="btn btn-primary">Edit</a>

  <form action="/hotels/<%= hotel._id %>?_method=DELETE" method="post">
    <input type="submit" value="Delete" class="btn btn-danger" />
  </form>

  <% } %>

  <div class="row">
    <div class="col-3">
      <form
        action="/hotels/<%= hotel._id %>/reviews"
        method="post"
        class="mt-5 needs-validation"
        novalidate
      >
        <div class="form-floating mb-3">
          <input
            name="review[rating]"
            type="number"
            class="form-control"
            id="address"
            required
            placeholder="review rating"
            min="1"
            max="5"
            step="1"
          />
          <label for="address">Hotel review rating</label>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">
            Please enter a rating for hotel between 1 to 5.
          </div>
        </div>
        <div class="form-floating mb-3">
          <input
            name="review[body]"
            type="text"
            class="form-control"
            id="body"
            required
            placeholder="review body"
          />
          <label for="body">Hotel review body</label>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">
            Please enter a text for rating for hotel.
          </div>
        </div>
        <input type="submit" value="Post review" class="mt-2 btn btn-primary" />
      </form>
      <h1>All reviews</h1>
      <% for(let review of hotel.reviews) { %>
      <div>
        <%= review.body %> - <%= review.rating%> - <%= review.author.name %>
      </div>

      <% if (currentUser && review.author._id.equals(currentUser._id)) { %>
      <form
        action="/hotels/<%= hotel._id %>/reviews/<%= review._id %>?_method=DELETE"
        method="post"
      >
        <input type="submit" value="Delete" class="btn btn-danger" />
      </form>
      <% } %> <% } %>
    </div>
  </div>
</div>

<script>
  console.log("coordinates",<%- coordinates %>)
  // TO MAKE THE MAP APPEAR YOU MUST
  // ADD YOUR ACCESS TOKEN FROM
  // https://account.mapbox.com
  let arr = [];
  arr.push(<%- coordinates[0] %>)
  arr.push(<%- coordinates[1] %>)
  mapboxgl.accessToken = 'pk.eyJ1IjoicGFua2FqYmFsaXlhbiIsImEiOiJjbGc4MXk3NG4wa2IzM2dwa2N3YmQwZ3J3In0.0PB3bXDpLGolEFigFOP1vg';
  const map = new mapboxgl.Map({
    container: 'map', // container ID
    // Choose from Mapbox's core styles, or make your own style with Mapbox Studio
    style: 'mapbox://styles/mapbox/outdoors-v12', // style URL (streets-v12) for normal, (dark-v11) for dark mode
    center: arr, // starting position [lng, lat]
    zoom: 12 // starting zoom
  });
  // Create a default Marker and add it to the map.
  const marker1 = new mapboxgl.Marker()
    .setLngLat(arr)
    .setPopup(new mapboxgl.Popup()
      .setLngLat(arr)
      .setHTML('<h5><%=hotel.name%></h5><p><%=hotel.address%></p>'))
    .addTo(map);
</script>
<%- include('../partials/footer.ejs') %>
